@{
    ViewBag.Title = "RazorPad Administration Portal";
}

<h2>@ViewBag.Title</h2>

<div>
    You're probably looking for @Html.ActionLink("User Management", "Index", "UserManagement")
</div>