@{
    ViewBag.Title = "RazorPad Administration Portal";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("Users", "Index", "Users")</li>
    <li>@Html.ActionLink("Snippets", "Index", "Snippets")</li>
</ul>
