@{
	ViewBag.Title = "Test";
}
<h2>
	Test the Error Handler</h2>
@using (Html.BeginForm())
{       
	<input name="confirmButton" type="submit" value="Click here to test the error handler..." />      
}
