_ReSharper.*
bin
obj
**.user
**.suo
**.cache
TestResults
_UpgradeReport_Files
UpgradeLog.XML
Thumbs.db

RazorPad.Web.Website/App_Data/Database
packages
**.ncrunch*
/RazorPad.Web.Website/App_Data/RazorPad10.sdf