<div class="editorContainer">
    <div id="viewHeader" class="paneheader">
        <div class="title">
            View</div>
    </div>
    @*<div id="razorEditor" class="editor model watermarkOn" contentEditable="true">
    </div>*@
    <textarea id="razorEditor"></textarea>
</div>