@model RazorPad.Web.Website.Models.Account.ForgotPassword
<
div class="form">
    <form name="forgotPasswordForm" method="post" action="@Url.Action("ForgotPassword", "Account")">
    <div class="form-box">
        <div class="box">
            <h2>Forgot Password</h2>
            @if (Model.EmailSent)
            {
                <div class="info">An email has been sent to @(Model.Email) with the link to reset the password.</div>
                <div class="form-button">
                    <input type="button" onclick="location.href='@Url.Action("Login", "Account")';" value="Ok" />
                </div>
            }
            else
            {
                <div class="info">Enter the email address you registered with, a link to reset the password will be mailed to your email address.</div>
                if (Model.EmailNotFound)
                {
                    <div class="severErrorMsg">Email address not found in the system, please enter the valid email address which you entered during registration.</div>
                }
                <div>
                    <label>
                        <span class="form-label">Email:</span>
                        <input class="form-field" maxlength="50" type="text" id="Email" name="Email" />
                        <span class="errorMsg hide">Enter your email</span>
                    </label>
                </div>
                <div class="form-button">
                    <input type="submit" id="sendBtn" value="Send" />
                </div>
            }
        </div>
    </div>
    <div class="content">
        Some cotent here Some cotent here<br />
        Some cotent here Some cotent here<br />
        Some cotent here Some cotent here<br />
    </div>
    <div class="clear clearfix">
    </div>
    </form>
    <script type="text/javascript" src="@Url.Content("~/Scripts/userManagement.js")"></script>
</div>
