@model RazorPad.Web.Website.Models.Account.ForgotPassword
<div class="form">
    <div class="form-box">
        <div class="box">
            @using(Html.BeginForm("ForgotPassword", "Account")) {
                <h2>Forgot Password</h2>
                <div class="info">Enter the email address you registered with, a link to reset the password will be mailed to your email address.</div>
                <div>
                    @Html.LabelFor(x => x.EmailAddress)
                    @Html.EditorFor(x => x.EmailAddress)
                    @Html.ValidationMessageFor(x => x.EmailAddress)
                </div>
                <div class="form-button">
                    <input type="submit" value="Send" />
                </div>
            }
        </div>
    </div>
    <div class="clear clearfix">
        @if (Model.Token != null)
        {
            <div>@Html.ActionLink("Reset Password", "ResetPassword", "Account", new { token = Model.Token }, new { style = "color: white;" })</div>
        }
    </div>
</div>
