@{
    ViewBag.Title = "Invalid Reset Password Token";
    Layout = "_Layout";
}

<h2>Invalid Token</h2>

<div>
    Sorry, but the reset password token you've provided 
    does not match anything we have on record.
</div>

<div>
    Try to create another one here:
    @Html.ActionLink("Reset Password", "ResetPassword", "Account")
</div>
