@model RazorPad.Web.Website.Models.SnippetViewModel
<div class="editorContainer">
    <div id="viewHeader" class="paneheader">
        <div class="title">View</div>
    </div>
    <textarea id="razorEditor">@Model.View</textarea>
</div>