<div class="tabContainer">
    <div class="tabBar">
        <a href="#browser-view-container" title="The way it would appear in a browser">Browser View</a><span class="separator">|</span><a
            href="#template-output-container" title="The way it would appear in browser's view source">Html Source View</a><span class="separator">|</span><a
                href="#parser-result-container" title="This is how Razor engine sees it">Parser Results</a><span class="separator">|</span><a
                    href="#generated-code-container" title="Generated class by Razor engine">Generated Code</a><span class="separator">|</span><a
                        href="#messages-container" title="If something went wrong, it would appear here">Messages</a>
    </div>
    <div class="tabPanels">
        <div id="browser-view-container">
            <iframe id="browser-view-iframe" name="browser-view-iframe" style="height:0px;width:0px;" frameborder="0"></iframe>
            <form id="browserViewPostForm" target="browser-view-iframe" method="post" action="@(System.Configuration.ConfigurationManager.AppSettings["ExecuteDomainUrl"])/Razorpad/BrowserView">
                <input type="hidden" name="template" />
            </form>
        </div>
        <div id="template-output-container">
            <pre id="template-output" class="prettyprint"></pre>
        </div>
        <div id="parser-result-container"></div>
        <div id="generated-code-container"></div>
        <div id="messages-container">
            <ul id="messages"></ul>
        </div>
    </div>
</div>
