@model RazorPad.Web.Website.Models.FiddleViewModel
<div id="accordion">
    @if(User.Identity.IsAuthenticated)
    {
        <h3><a href="#">Saved Fiddles</a></h3>
        <div id="savedFiddles">
            @Html.Action("UserFiddles", "Users", new { username = User.Identity.Name, area = string.Empty })
        </div>
    }
	<h3><a href="#">Options</a></h3>
	<div>
		Whats options we will have?
	</div>
	<h3><a href="#">Fiddle Info</a></h3>
	<div class="fiddleInfo">
        <label>Title
		    <input type="text" id="fiddleTitle" value="@Model.Title" />
        </label>
        <label>Notes<br />
		    <textarea id="fiddleNotes" rows="3">@Model.Notes</textarea>
        </label>
	</div>
	<h3><a href="#">Examples</a></h3>
	<div>
		Basic examples
	</div>
	<h3><a href="#">Legal</a></h3>
	<div>
		Legal information
	</div>
</div>
<div class="bottomLinks">
    <a href="#">Documentation</a> <br />
    <a href="#">Help?</a>
</div>
    