@model RazorPad.Web.Website.Areas.Account.Models.ForgotPassword
@{
    ViewBag.Title = "Forgot Password: Email Sent";
}
<h2>Email Sent!</h2>
<div class="info">An email has been sent to @Model.EmailAddress with the link to reset your password.</div>
<div class="form-button">
    @Html.ActionLink("Login", "Login", "Password")
</div>
