#resultsPane
{
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

#resultsPane, .tabContainer, #content {
    height: 100%;
    width: 100%;
}

#template-output-container {
    overflow-y: auto;
}

.tabBar {
    background-color: #BCC7D8;
    padding: 2px 0px 0px 0px;
    border-bottom: 2px solid #465A7D;
}

.tabContainer {
    position: relative;
}

.tabPanels
{
    width: 100%;
}

.tabPanels > div 
{
    display: none;
    width: 100%;
}

.tabBar a, span {
    padding: 1px;
    vertical-align: bottom;
    display: inline-block;
}

.tabBar a {
    text-decoration: none;
    color: #000;
    outline: none;
    padding: 3px 10px;
    font-weight: bold;
    margin-right: 5px;
}

.tabBar a:hover {
    background-color: #FFFCF4;
}

.tabBar a.selected, .tabBar a.selected:hover {
    background-color: #465A7D;
    font-weight:bold;
    color: #ffffff;
}

.tabBar span.separator {
    margin: 0 2px;
    color: #8591A2;
    vertical-align: inherit;
    display: none;
}

#resultsPane {
    border-top: 1px solid #aaa;
    background: #fff;
}

table tbody > tr > td:first-child {
    white-space: nowrap;
}