header {
    padding: 5px 0;
	background: rgb(245,245,245); 
    border: 1px solid gray;

	table {
		border: 0;
		width: 100%;
	}

	td {
		vertical-align: middle;
	}

	 a {
            color: #000;
            text-decoration: none;
			float: left;
			position: relative;
			zoom: 1;
    }
    
    h1 {
			display: inline-block;
			text-decoration: none;
    		background-image: url('../images/logo.jpg');
    		background-repeat: no-repeat;
    		width: 247px;
    		height: 35px;

        }


    .beta {
        color: #CB4B4B;
        font-size: 80%;
        font-style: italic;
		vertical-align: top;
    }
    
    .actions {
        padding: 0px 0px 0 15px;
		
    }

    .actions li {
        list-style: none;
        float:left;
        margin-right: 10px;
    }

    .actions li a
    {
        border:1px solid #465A7D;
        background-color: #BCC7D8;
        padding: 3px 7px;
        text-decoration: none;
        text-align:center;
        color: #465A7D;
        font-weight: bold;
    }

    .secondary {
        padding-right: 10px;
		float: right;
    }
}