#header {
    /*padding: 5px 10px;
*/
	 a {
            color: #000;
            text-decoration: none;
    }
    
    h1 {
			display: inline-block;
			text-decoration: none;
    		background-image: url('../images/logo.jpg');
    		background-repeat: no-repeat;
    		width: 247px;
    		height: 35px;

        }


    .beta {
        color: #CB4B4B;
        font-size: 60%;
        font-style: italic;
    }
    
    .actions {
        padding: 15px 0px 0 15px;
		display: inline-block;
    }

    .actions li {
        list-style: none;
        float:left;
        margin-left: -1px;
    }

    .actions li a
    {
        border:1px solid #465A7D;
        background: #BCC7D8;
        padding: 3px 7px;
        text-decoration: none;
        text-align:center;
        color: #465A7D;
        font-weight: bold;
    }

    #secondary-actions {
        float: right;
        padding-right: 10px;

		a {
			margin-left: 10px;
		}
    }
}

.gradient
{
    background: rgb(245,245,245); 
    border: 1px solid gray; 
}