.errorMsg, .severErrorMsg {
    color: Red;
    margin-bottom: 10px;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    display:block;
}

.field-validation-valid {
    display: none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.message-info {
    border: solid 1px;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.success {
    color: #7ac0da;
}

.error {
    color: #e80c4d;
}