<root>
  <FileGroup Name="razorpad.css">
    <File Path="reset.css"/>
    <File Path="codemirror.css"/>
    <File Path="shThemeDefault.css"/>
    <File Path="shCore.css"/>
    <File Path="jquery-ui.css" />
    <File Path="global.css" />
    <File Path="header.css" />
    <File Path="sidebar.less" />
    <File Path="editor.css" />
    <File Path="model.css" />
    <File Path="results.css" />
    <File Path="form.css" />
    <File Path="errorMessages.css" />
  </FileGroup>
</root>