<root>
  <FileGroup Name="core.css" Minify="true">
    <File Path="core/reset.css"/>
    <File Path="core/global.css" />
    <File Path="core/header.less" />
    <File Path="core/jquery-ui.css" />
    <File Path="core/form.css" />
	<File Path="core/sprites.less" />
  </FileGroup>
  
  <FileGroup Name="main-ui.css" Minify="true">
    <File Path="MainUI/codemirror.css"/>
    <File Path="MainUI/shThemeDefault.css"/>
    <File Path="MainUI/shCore.css"/> 
    <File Path="MainUI/sidebar.less" />
    <File Path="MainUI/editor.css" />
    <File Path="MainUI/results.css" />
  </FileGroup>
</root>