@model RazorPad.Website.Models.ResetPassword
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
<div class="form">
    <form name="resetPasswordForm" method="post" action="@Url.Action("ResetPassword", "Account")">
    <div class="form-box">
        <div class="box">
            <h2>Reset Password</h2>
            @if (Model.TokenNotFound || Model.TokenExpiredOrInvalid)
            {
                if (Model.TokenNotFound)
                {
                    <div class="severErrorMsg">Invalid url to reset the password</div>
                }
                else if (Model.TokenExpiredOrInvalid)
                {
                    <div class="severErrorMsg">The password reset token is expired or invalid, please generate a new token.</div>
                    <a href="@Url.Action("ForgotPassword", "Account")">Request for new token?</a>
                }
            }
            else
            {
                <div>
                    <label>
                        <span class="form-label">Enter the new password:</span>
                        <input class="form-field" maxlength="25" type="password" id="Password" name="Password" />
                        <span class="errorMsg hide">Enter the new password</span>
                    </label>
                </div>
                <div>
                    <label>
                        <span class="form-label">Confirm password:</span>
                        <input class="form-field" maxlength="25" type="password" id="ConfirmPassword" name="ConfirmPassword" />
                        <span class="errorMsg hide">Password do no match</span>
                    </label>
                </div>
                <div class="form-button">
                    <input type="hidden" name="UserId" value="@Model.UserId" />
                    <input type="submit" id="resetBtn" value="Reset" />
                </div>
            }
        </div>
    </div>
    <div class="content">
        Some cotent here Some cotent here<br />
        Some cotent here Some cotent here<br />
        Some cotent here Some cotent here<br />
    </div>
    <div class="clear clearfix">
    </div>
    </form>
    <script type="text/javascript" src="@Url.Content("~/Scripts/userManagement.js")"></script>
</div>
